body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #0f0f0f;
  color: white;
}

header {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #111, #1c1c1c);
}

header h1 {
  font-size: 36px;
}

header p {
  color: #ccc;
}

.botoes a {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background: gold;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 60px 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

section.mostrar {
  opacity: 1;
  transform: translateY(0);
}

/* INSTAGRAM */
.instagram-box {
  margin-top: 30px;
}

.instagram-box a {
  display: inline-block;
  padding: 15px 30px;
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.instagram-box a:hover {
  transform: scale(1.05);
}

/* VANTAGENS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
}

/* FORM */
form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input, textarea, select {
  margin: 10px 0;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

button {
  background: gold;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

footer {
  background: #111;
  padding: 20px;
}

.whatsapp-fixo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}