body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

/* MENU */
.menu {
  position: fixed;
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.menu a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HEADER */
header {
  text-align: center;
  padding: 120px 20px 60px;
  background: linear-gradient(45deg, #000, #222);
}

.local {
  color: #ccc;
  margin-top: 10px;
}

/* BOTÃO */
.btn {
  background: gold;
  color: black;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
}

/* SEÇÕES */
section {
  padding: 50px 20px;
  text-align: center;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

/* CONTATO */
form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  gap: 10px;
}

input, button {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background: gold;
}

/* LINKS */
.whatsapp {
  display: block;
  margin-top: 15px;
  color: #25D366;
}

.instagram {
  display: block;
  margin-top: 10px;
  color: #E1306C;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}